@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: figtree;
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
  }
}

.test {
  box-shadow: 20px 20px 2 black;
}
